@-webkit-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }

  4% {
    opacity: 1;
    right: 30px;
  }

  96% {
    opacity: 1;
    right: 30px;
  }

  98% {
    opacity: 0;
    right: 30px;
  }

  100% {
    opacity: 0;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }

  4% {
    opacity: 1;
    right: 30px;
  }

  96% {
    opacity: 1;
    right: 30px;
  }

  98% {
    opacity: 0;
    right: 130px;
  }

  100% {
    opacity: 0;
    right: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }
  
  7% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
   
  12% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }
  
  17% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }
  
  22% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  27% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  
  32% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  37% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  42% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
  
  47% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    right: -21px;
  }

  55% {
    opacity: 1;
    right: 140px;
  }

  60% {
    opacity: 0;
    right: -21px;
  }
  
  100% {
    opacity: 0;
    right: 140px;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  
  2% {
    opacity: 1;
  }

  5% {
    opacity: 0;
  }
  
  7% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
   
  12% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }
  
  17% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }
  
  22% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  27% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  
  32% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  37% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  42% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
  
  47% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    right: -21px;
  }

  55% {
    opacity: 1;
    right: 140px;
  }

  60% {
    opacity: 0;
    right: -21px;
  }
  
  100% {
    opacity: 0;
    right: 140px;
  }
}
body{
	background:#000;
}
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: 200px;
  z-index:1;
}
.loading {
  position: relative;
  text-align: right;
  color:#FFF;
  text-shadow: 0 0 6px #bce4ff;
  font-size:32px;
  height: 20px;
  width: 150px;
}
.loading span {
  display: block;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  height: 20px;
  width: 200px;
  line-height: 20px;
}
.loading span:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -21px;
  height: 20px;
  width: 16px;
  background: #eaf7ff;
  -moz-animation: blink 12.4s 1;
  -webkit-animation: blink 12.4s 1;
  animation: blink 12.4s 1;
  opacity: 0;
}
.loading span.title {
  -moz-animation: title 3.3s linear 3s 1;
  -webkit-animation: title 3.3s linear 3s 1;
  animation: title 3.3s linear 3s 1;  /*前为持续时间，后为延迟时间*/
  opacity: 0;/*播放后不再显示*/
}
.welcome{
	background:#FFF;
	font-size:72px;
	text-align:center;
	color:#FFF;
	z-index:2;
	position:absolute;
	width:200px;
	height:200px;
	margin-top:-2000px;
}
